<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7XfFHKJQp6nGm5wLsEuq0k4H5-l7Sc3c</string>
	<key>GCM_SENDER_ID</key>
	<string>553245797541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhui.todo-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>simple-todo-3b7ec</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-todo-3b7ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553245797541:ios:b6f27b5ba017d9b5d3f14c</string>
	<key>DATABASE_URL</key>
	<string>https://simple-todo-3b7ec-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>